# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.ipch
*.db
*.opendb
*.db
*.db
*.db
*.pdb
*.log
*.tlog
Source/TestProject/Debug/TestProject.ilk
Source/TestProject/Debug/TestProject.pdb
Source/TestProject/TestProject/Debug/TestProject.log
Source/TestProject/TestProject/Debug/TestProject.tlog/CL.command.1.tlog
Source/TestProject/TestProject/Debug/TestProject.tlog/CL.read.1.tlog
Source/TestProject/TestProject/Debug/TestProject.tlog/CL.write.1.tlog
Source/TestProject/TestProject/Debug/TestProject.tlog/link.command.1.tlog
Source/TestProject/TestProject/Debug/TestProject.tlog/link.read.1.tlog
Source/TestProject/TestProject/Debug/TestProject.tlog/link.write.1.tlog
Source/TestProject/TestProject/Debug/TestProject.tlog/rc.command.1.tlog
Source/TestProject/TestProject/Debug/TestProject.tlog/rc.read.1.tlog
Source/TestProject/TestProject/Debug/TestProject.tlog/rc.write.1.tlog
Source/TestProject/TestProject/Debug/TestProject.tlog/TestProject.lastbuildstate
Source/TestProject/TestProject/Debug/vc140.idb
Source/TestProject/TestProject/Debug/vc140.pdb
*.ilk
Source/TestProject/Debug/TestProject.pdb
*.ilk
*.ilk
Source/TestProject/Debug/TestProject.ilk
Source/TestProject/Debug/TestProject.pdb
Source/TestProject/TestProject/Debug/TestProject.log
Source/TestProject/TestProject/Debug/TestProject.tlog/CL.command.1.tlog
Source/TestProject/TestProject/Debug/TestProject.tlog/CL.read.1.tlog
Source/TestProject/TestProject/Debug/TestProject.tlog/CL.write.1.tlog
Source/TestProject/TestProject/Debug/TestProject.tlog/link.command.1.tlog
Source/TestProject/TestProject/Debug/TestProject.tlog/link.read.1.tlog
Source/TestProject/TestProject/Debug/TestProject.tlog/link.write.1.tlog
Source/TestProject/TestProject/Debug/TestProject.tlog/rc.command.1.tlog
Source/TestProject/TestProject/Debug/TestProject.tlog/rc.read.1.tlog
Source/TestProject/TestProject/Debug/TestProject.tlog/rc.write.1.tlog
Source/TestProject/TestProject/Debug/TestProject.tlog/TestProject.lastbuildstate
Source/TestProject/TestProject/Debug/vc140.idb
Source/TestProject/TestProject/Debug/vc140.pdb
